@media all and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  .web-app {
    max-width: 300px;
    margin: 0 auto;
    // border: 3px solid #1f364d;
  }
  .story-top {
    width: 300px;
    padding-top: 0.5rem;
  }
  .story-bar {
    width: 300px;
  }
  .story-bar-wrapper {
    padding: 1rem 0;
  }
  .story-card {
    width: 100%;
  }
  .story-cont {
    width: 300px;
  }
}
@media all and (min-width: 1185px) {
  html {
    font-size: 16px;
  }
  .web-app {
    max-width: 300px;
    margin: 0 auto;
  }
  .story-card {
    width: 100%;
  }
  .story-top {
    width: 300px;
    padding-top: 0.5rem;
  }
  .story-bar {
    width: 300px;
  }
  .story-bar-wrapper {
    padding: 1rem 0;
  }
  .story-cont {
    width: 300px;
  }
}

@media all and (min-width: 760px) {
  html {
    font-size: 16px;
  }
  .web-app {
    max-width: 300px;
    margin: 0 auto;
  }
  .story-card {
    width: 100%;
  }
  .story-top {
    width: 300px;
    padding-top: 0.5rem;
  }
  .story-bar {
    width: 300px;
  }
  .story-bar-wrapper {
    padding: 1rem 0;
  }
  .story-cont {
    width: 300px;
  }
}

@media all and (min-width: 500px) {
  html {
    font-size: 16px;
  }
  .web-app {
    max-width: 300px;
    margin: 0 auto;
  }
  .story-card {
    width: 100%;
  }
  .story-top {
    width: 300px;
    padding-top: 0.5rem;
  }
  .story-bar {
    width: 300px;
  }
  .story-bar-wrapper {
    padding: 1rem 0;
  }
  .story-cont {
    width: 300px;
  }
}
